/* ------------------------- SMOOTH SCROLLING ------------------------- */
html:focus-within{
	scroll-behavior: smooth;
}

[data-theme="light"]{
    --bg-color:#FFFEFD;
    --color:#1B1C1E;
}

[data-theme="dark"]{
    --bg-color:#1B1C1E;
    --color:#ef8f2f;
}

body{
    background-color: var(--bg-color);
    color: var(--color);
}

.align-toggle{
  position: relative;
}

/* TOGGLE CONTAINER*/
.toggle-container{
  position: absolute;
  top: -40;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 93%;
  height: 20%;
  display: flex;
  justify-content: start;
  padding: 15px;
}

/* TOGGLE SIZE */
.switch {
  position: absolute;
  display: inline-block;
  width: 90px;
  height: 34px;
  left: 70%;
  bottom: 0;
  top: 180%;
  margin: auto;
}

.switch input {
  display:none;
}

/* ON */
input:checked + .slider {
  background-color: #edeb72;
}

/* OFF */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #828181;
  transition: .4s;
}

/* TOGGLE CIRCLE*/
.slider:before {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 4px;
  bottom: 4px;
  content: "";
  background-color: white;
  transition: .4s;
}

/* TOGGLE MOVEMENT */
input:checked + .slider:before {
  transform: translateX(55px);
}

/*------ FONT POSITIONING ---------*/
.on{
  display: none;
}

.on{
  position: absolute;
  top: 50%;
  left: 30%;
  color: white;
  font-size: .8rem;
  font-weight:bold;
  transform: translate(-50%,-50%);
}

.off{
  position: absolute;
  top: 50%;
  left: 70%;
  color: white;
  font-size: .8rem;
  font-weight:bold;
  transform: translate(-50%,-50%);
}

input:checked+ .slider .on{
  display: block;
}

input:checked + .slider .off{
  display: none;
}

/* BORDERS */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* SOCIAL */
.social{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.social-card{
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(221, 136, 17, 0.418);
  border-radius: 10px;
  box-shadow: 0 20px 20px rgb(0, 0, 0, 0.205);
  margin:15px;
  text-decoration: none;
  font-size: 2em;
  color:rgba(255, 255, 255, 0.336);
  transition: box-shadow .4s, color .8s, transform .4s;
}

.social-card:hover{
  color:rgb(243, 243, 243);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.205), inset 0 20px 10px rgba(0, 0, 0, 0.287), inset 10px 0 20px rgb(219, 171, 11), inset -20px 0 20px rgb(218, 151, 43), inset -30px 0 20px rgb(185, 119, 13);
  transform: translateY(-10px);
}

/* scrollUp */
.scroll-top {
	width: 50px;
  height: 50px;
  line-height: 20px;
  position: relative;
  bottom: 0;
  right: 0;
  left: 50%;
  top: 0;
  font-size: 2rem;
  border-radius: 25px;
  z-index: 99;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background: #814e10;
  transition: 1s ease;
  border: none;
  opacity: 1;
}

.scroll-top.open {
	bottom: 30px;
	opacity: 1;
}

.scroll-top::after {
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 1;
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}

.scroll-top:hover {
	background: #a3a3a3;
}

/*Image on hover effect*/
.imgOpacity {
    opacity: 1.0;
    filter: alpha(opacity=40);
    cursor:pointer;
}

.imgOpacity:hover {
    opacity: 0.3;
    filter: alpha(opacity=100);
    transform: scale(.9);
    transition: all .5s;
}

.img-hero{
    border-radius: 5%;
}

.img-hero:hover {
    transform: scale(1.02);
    transition: all ease-out .5s;
    box-shadow: 3px 6px 12px rgba(129, 78, 16, 65%);
}

.img-size{
  width:50%;
  height:auto;
  aspect-ratio: 1 / 1;
}

.check{
  color: #ef8f2f;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Parallax */
.parallax {
  background-image: url('../img/2074130.jpg');
  min-height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
}

.parallax-nl{
  background-image: url('../img/1193335.jpg');
  min-height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
}

/*****AREAS*****/

/* MENU */
.menu-area {
  background: url(../img/menu-bg.jpg) center;
  background-size: cover;
}

.section-gap {
  padding: 120px 0;
}

.single-menu {
  background-color: #fff;
  box-shadow: 0px 10px 30px 0px rgb(182 136 52 / 20%);
  border-radius: 10px;
  padding: 30px 30px;
  margin-bottom: 30px;
}

/* FOOTER */
.footer-area {
  color: #fff;
  font-weight: bold;
  padding-top: 220px;
  background: url(../img/footer-bg.png) center;
  background-size: cover;
}

/***** EFFECTS *****/

/* Glow effect */
.glow:hover{
    box-shadow: 0 0 5px #814e10, 0 0 25px #814e10, 0 0 50px #814e10, 0 0 200px #814e10;
    transition: all .5s;
}

/*DIV effect*/
.border3D:hover{
	transform: scale(1.02);
	transition: all ease .5ms;
	box-shadow: 1px 2px 4px rgba(129, 78, 16, 65%);
}

/* BLOB */
.blob{
  width: 16rem;
  height: 16rem;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  background: #814e10 url('../img/593cbb5359189869d8c5083ed6939b1f.jpg');
  background-size: cover;
  background-position: center;
  animation: morph 4.75s linear infinite;
}

@keyframes morph{
  0%, 100%{
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  }
  33%{
    border-radius: 72% 28% 48% 48% / 28% 28% 72% 72%;
  }
  66%{
    border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
  }
}

/* Underline */
.underline{
  display: inline-block;
  position: relative;
}

.underline:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #814e10;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Ribbon */
#forkongithub a{
  background:#000;
  color:#fff;
  text-decoration:none;
  font-family:arial,sans-serif;
  text-align:center;
  font-weight:bold;
  padding:5px 40px;
  font-size:1rem;
  line-height:2rem;
  position:relative;
  transition:0.5s;
}

#forkongithub a:hover{
  background:#c11;
  color:#fff;
}

#forkongithub a::before,#forkongithub a::after{
  content:"";
  width:100%;
  display:block;
  position:absolute;
  top:1px;
  left:0;
  height:1px;
  background:#fff;
}

#forkongithub a::after{
  bottom:1px;
  top:auto;
}

/*Custom bootstrap*/
.border-bottom {
  border-bottom: 1px solid #814e10!important;
}

.btn-primary:hover{
  transform: scale(1.08);
  transition: all ease-out .5s;
  color: #1B1C1E;
  text-decoration: underline;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #814e10;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb{
  background: #edeb72;
  border-radius: 50px;
}

/* Media queries */
@media (min-width:280px) and (max-width:799px){
  #forkongithub{
    display: none;
  }
}

@media (min-width:360px) and (max-width:575px){
    .flex-xs-column{
        flex-direction: column !important;
    }

    .justify-content-xs-center{
        justify-content:center!important;
    }

    .justify-content-xs-evenly{
        justify-content:space-evenly!important;
    }

    .justify-content-xs-around{
        justify-content:space-around!important;
    }

    .toggle-container {
      top: -60px;
      left: 55px;
    }
}

@media (min-width:768px) and (max-width:980px){
  .toggle-container {
    top: 12px;
    left: -304px;
  }
}

@media screen and (min-width:800px){
  #forkongithub{
      position:fixed;
      display:block;
      top:0;
      right:0;
      width:200px;
      overflow:hidden;
      height:200px;
      z-index:9999;
  }
  
  #forkongithub a{
      width:200px;
      position:absolute;
      top:9px;
      right:-54px;
      transform:rotate(45deg);
      -webkit-transform:rotate(45deg);
      -ms-transform:rotate(45deg);
      -moz-transform:rotate(45deg);
      -o-transform:rotate(45deg);
      box-shadow:4px 4px 10px rgba(0,0,0,0.8);
  }
}