/* ------------------------- SMOOTH SCROLLING ------------------------- */
html:focus-within{
	scroll-behavior: smooth;
}

[data-theme="light"]{
    --bg-color:#fff;
    --color:#000;
}

[data-theme="dark"]{
    --bg-color:#333333;
    --color:#ef8f2f;
}

body{
    background-color: var(--bg-color);
    color: var(--color);
}

p{
  color: var(--color);
}

h1, h2, h3, h4, h5{
  color: var(--color);
}

.align-toggle{
  position: relative;
}

/* TOGGLE CONTAINER*/
.toggle-container{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 93%;
  height: 20%;
  display: flex;
  justify-content: start;
  padding: 15px;
}

/* TOGGLE SIZE */
.switch {
  position: absolute;
  display: inline-block;
  width: 90px;
  height: 34px;
  left: 70%;
  bottom: 0;
  top: 180%;
  margin: auto;
}

.switch input {
  display:none;
}

/* OFF */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #828181;
  transition: .4s;
}

/* TOGGLE CIRCLE*/
.slider:before {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 4px;
  bottom: 4px;
  content: "";
  background-color: white;
  transition: .4s;
}

/* ON */
input:checked + .slider {
  background-color: #edeb72;
}

/* TOGGLE MOVEMENT */
input:checked + .slider:before {
  transform: translateX(55px);
}

/*------ FONT POSITIONING ---------*/
.on{
  display: none;
}

.on{
  position: absolute;
  top: 50%;
  left: 30%;
  color: white;
  font-size: .8rem;
  font-weight:bold;
  transform: translate(-50%,-50%);
}

.off{
  position: absolute;
  top: 50%;
  left: 70%;
  color: white;
  font-size: .8rem;
  font-weight:bold;
  transform: translate(-50%,-50%);
}

input:checked+ .slider .on{
  display: block;
}

input:checked + .slider .off{
  display: none;
}

/* BORDERS */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.check{
    color: #09460b;
}

.img-size{
    width:50%;
    height:50%;
}

/*Image on hover effect*/
.imgOpacity {
    opacity: 1.0;
    filter: alpha(opacity=40);
    cursor:pointer;
}

.imgOpacity:hover {
    opacity: 0.3;
    filter: alpha(opacity=100);
    transform: scale(.9);
    transition: all .5s;
}

.img-hero{
    border-radius: 5%;
}

.img-hero:hover {
    transform: scale(1.1);
    transition: all .5s;
}

/* Glow effect */
.glow:hover{
    box-shadow: 0 0 5px #814e10, 0 0 25px #814e10, 0 0 50px #814e10, 0 0 200px #814e10;
    transition: all .5s;
}

/*DIV effect*/
.border3D:hover{
	transform: scale(1.02);
	transition: all ease .5ms;
	box-shadow: 1px 2px 4px rgba(129, 78, 16, 65%);
}

/* Media queries */
@media (min-width:360px) and (max-width:575px){
    .flex-xs-column{
        flex-direction: column !important;
    }

    .justify-content-xs-center{
        justify-content:center!important;
    }

    .justify-content-xs-evenly{
        justify-content:space-evenly!important;
    }

    .justify-content-xs-around{
        justify-content:space-around!important;
    }
}